.register{
    background-image: url('../../assets/images/layers/loginWP.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /*width: 60%;
    height: 60%;*/
    width: 30%;
    min-height: 60vh;
    border: solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px #000000;
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 55px 15px 37px;
}

.register-container h1{
    margin-bottom: 1rem;
}

.register-container .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: 5px 5px 10px 0px #000000;
    border: 2px solid silver;
    background-color: black;
    border: none;
    font-family: 'Chronosfer';
    font-size: 1.5rem;
    font-weight: bold;
    color: silver;
    letter-spacing: 5px;
}

.register-container .button-container:hover{
    background: purple;
    transform: scale(110%);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

/*.container-register form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}*/

/*.container-register form input,.container-register form button {
    margin: 1rem 0;
    padding: 1rem 2rem;
    outline: none;
    background: silver;
    border: 2px solid silver;
}

.container-register form input::placeholder{
    font-family: 'Chronosfer';
    font-size: 1.3rem;
    color: black;
}*/

/*.container-register form button{
    background-color: black!important;
    border: none;
    font-family: 'Chronosfer';
    font-size: 1.3rem;
    letter-spacing: 5px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    color: silver;
}

.container-register form button:hover{
    transform: scale(110%);
}*/
