.login-container {
    padding: 55px 15px 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(../../assets/images/layers/loginWP.jpg);
    background-size: cover;
}

.login-container .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: 5px 5px 10px 0px #000000;
    border: 2px solid silver;
    background-color: black;
    border: none;
    font-family: 'Chronosfer';
    font-size: 1.5rem;
    font-weight: bold;
    color: silver;
    letter-spacing: 5px;
}

.login-container .button-container:hover{
    background: purple;
    transform: scale(110%);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}