.obstacle-container{
  user-select:none;
  object-fit: contain;
  animation: shadow 3s linear infinite;

}

img{
    animation: meteor 3s linear infinite;
}

/* animazioni */
@keyframes meteor {
  0% {
    
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
    
  }
  100% {

    transform: rotate(360deg);
  }
}

/* animazioni */
@keyframes shadow {
  0% {
    filter: drop-shadow(0px 0px 10px orangered);
  }
  50%{
    filter: drop-shadow(0px 0px 100px orangered);
  }
  100% {
    filter: drop-shadow(0px 0px 10px orangered);
  }
}
