.form-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    min-height: 70vh;
    border-radius: 10px;
    background-color: orange;
    margin: 50px 15px;
    padding: 55px 15px 37px;
}

@media only screen and (max-width: 550px) {
    .form-container {
        display: flex;
        flex-direction: column;
        padding: 55px 55px 37px;
        align-items: center;
        overflow: hidden;
        width: 100%;
    }
}