/* reset */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Chronosfer';
  src: 
      local('MyFont'),
      url(./assets/fonts/Chronosferdemo-0WGDo.woff) format('woff'),
      url(./assets/fonts/Chronosferdemo-0WGDo.otf) format('otf');
  font-weight: 900;
  font-style: normal;
}

