.input-error {
    position: absolute;
    bottom: 10px;
    padding-left: 3px;
    left: 67%;
    bottom: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    width: 33%;
    font-size: 12px;
    color: black;
    border: solid 1px;
    border-radius: 2px;
    border-color: black;
    background-color: white;
    opacity: 0;
    transition: all 0.4s;
    font-family: 'Courier New', Courier, monospace;
}

.error-icon {
    position: absolute;
    right: 5px;
    top: 6px;
    text-align: center;
    color: black;
    font-weight: bolder;
    border: solid 1px;
    border-radius: 2px;
    border-color: black;
    background-color: white;
    width: 5%;
}

.hovered-input-error {
    opacity: 100;
    transition: all 0.4s;
}

.hovered-error-icon{
    opacity: 0;
    transition: all 0.2s;
}